{% extends 'base.html' %}

{% block content %}

<h1 style="font-family: Lumanosimo, cursive;  
text-align: center;
margin-bottom: 5%;
padding: 5px;
font-size: 2rem;
font-weight: 200;
letter-spacing: 0.5rem;
color: #454446;">Are you sure you want to delete {{ object.title }}?</h1>
<form action="{% url 'recipe_delete' object.id %}" method="POST">
    {% csrf_token %}
    <input style="background-color: rgb(244, 206, 141); color: floralwhite"type="submit" value="Delete" class="btn">
    <a href="{% url 'detail' object.id %}"> Cancel</a>
</form>

{% endblock %}
