{% extends 'base.html' %}
{% block content %}

<h1> Recipe Details</h1>
<div class="card">
    <span class="card-title">{{ recipe.title }}</span>
    <div class="card-image">
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
        <div class="card-content">
            <p>Prep-time: {{ recipe.preptime }} minutes</p>
            <p>Cooking-time: {{ recipe.cookingtime }} minutes</p>
            <p> Total-time: {{ recipe.totaltime }} minutes</p>
            <p>Servings: {{ recipe.yields }}</p>
            <p>Ingredients: {{ recipe.ingredients |linebreaks }}</p>
            <p>Instructions: {{ recipe.instructions |linebreaks }}</p>
        </div>
    </div>

 {% endblock %}