{% extends 'base.html' %} {% block content %}

<h1 class="index-title">Recipes</h1>
<div class="row">
  {% for recipe in pastryrecipes %}
  <div class="col s12 m6 l4">
    <a href="{% url 'detail' recipe.id %}">
      <div class="card-panel">
        <div class="card-content">
          <span class="card-title center-align">{{ recipe.title }}</span>
          {% if recipe.photo_set.exists %}
          <img class="recipe-img responsive-img" style="max-width: 100%; max-height: 200px; object-fit: contain;" src="{{ recipe.photo_set.first.url }}" />
          {% else %}
          <img
            class="recipe-img responsive-img" src="https://i.imgur.com/cHwo2Gz.jpg" />
          {% endif %}
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
