{% extends 'base.html' %}
{% block content %}

<h1 style="font-family: Lumanosimo, cursive;  
text-align: center;
margin-bottom: 5%;
padding: 5px;
font-size: 2rem;
font-weight: 200;
letter-spacing: 0.5rem;
color: #454446;">Home</h1>

<!-- <h1>Categories</h1>
<ul class="horiz-container">
    {% for category in categories %}
    <a href="{% url 'categories_detail' category.id %}">
        <div class="rest-container">
            <div class="empty-container"></div>
            <img src="{{ photo.url }}" class="index-img" alt="{{ category.name }}">
            <li>{{ category.name }}</li>
        </div>
    </a>
    {% endfor %}
</ul> -->

{% endblock %}